/* Variables */

$primary: #a2f5bf;
$secondary: #79b9ec;

$danger: #f17370;

$dark: #22292F;
$light: #F8FAFC;

$black: #22292F;
$white: #F8FAFC;

$font-family-base: "IBM Plex Sans", sans-serif;

/* Import */

@import "bootstrap/bootstrap.scss";

/* Document */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s;
}

/* Images */

.img {
  width: 100%;
  height: auto;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Helper Classes */

.max-vh {
  height: 100vh;
}

.max-vw {
  width: 100vw;
}

.max-height {
  width: 100%;
  max-height: 100%;
}

.max-width {
  width: 100%;
  max-width: 100%;
}

/* Button */

.btn,
.btn-lg {
  border-radius: 0;
}

/* Hero */

.hero-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-card {
  width: 100%;
  max-width: 768px;
}

.hero-title {
  word-wrap: break-word;
}

.hero__main {
  background-image: linear-gradient(rgba(21,21,21,0.5),rgba(21,21,21,0.5)),url(("../img/hero.jpg"));
}

.hero-profile {
  width: 100%;
  max-width: 960px;
}

/* Card */

.card {
  border-radius: 0;
}

.login-register-card {
  max-width: 512px;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.6rem;
}

/* Forms */

.login-form,
.register-form {
  #id_username,
  #id_password,
  #id_password2,
  #id_email {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: $white;
    border: 1px solid $gray-400;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 0.375rem;
  }

  #id_username:focus,
  #id_password:focus,
  #id_password2:focus,
  #id_email:focus {
    border-color: lighten($primary, 10%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }

  br {
    display: block;
    content: "";
    margin-top: 0;
  }

  .helptext {
    color: $gray-700;
    font-size: 0.75rem;
    margin-bottom: 0.375rem;
  }
}

/* Map Navigation Bar */

#main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: $black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $gray-300;
  display: block;
  transition: 0.3s;
}

.sidenav .nav-link:hover {
  color: $white;
  transform: translateX(5px)
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* Mark Location Button */

.mark-location-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* Trashcan Cards */

.missing-count,
.full-count {
  font-size: 1rem;
  font-family: $font-family-base;
}

.action-buttons {
  font-family: $font-family-base;
}

/* Profile */

.hero-profile {
  width: 100%;
  max-width: 768px;
  margin-top: 65px;
}

.user-profile-picture {
  height: 100px;
  width: 100px;
}

.user-info {
  height: 100%;
  max-height: 200px;
}

.user-achievement img {
  height: 100px;
  width: 100px;
}

.progress-bar {
  height: 24px;
  width: 200px;
  background-color: $gray-300;
}

.progress {
  height: 100%;
  width: 69%;
  background-color: $primary;
}