{% load static %}
<!--DOCTYPE html -->
<html>
	<head>
		<title>{% block head_title %}Title {% endblock head_title %}</title>
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
		{% block head_extra %} {% endblock head_extra %}
		{% load static from staticfiles %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        {% block content %}{% endblock content %}
    </body>
</html>
