{% extends "base.html" %}
{% block head_title %}Home {% endblock head_title %}
{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center
max-vh max-width hero-container hero__main">
    <div class="hero-content">
        <div class="d-flex align-items-center justify-content-center
        hero-title-container">
            <h1 class="hero-title text-primary">TRSHY</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center
        hero-buttons">
        {% if request.user.is_authenticated %}
            <a class="btn btn-lg btn-primary mr-3" role="button"
            href="{% url 'locator:profile' %}">Profile</a>
            <a class="btn btn-lg btn-primary mr-3" role="button"
            href="/map">Map</a>
        {% else %}
            <a class="btn btn-lg btn-primary mr-3" role="button" href="register">
                Register
            </a>
            <a class="btn btn-lg btn-outline-primary" role="button" href="login">
            Login
            </a>
        {% endif %}
        </div>
    </div>
</div>
<div>
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">The Problem</h4>
                    </div>
                    <div class="card-body">
                        <p>
                        Contamination of recycling stream: $1.09 million/year = 2.2 cents per bag. <br>
                        Collecting and disposing of bags: $3.6 million/year = 7.2 cents per bag. <br>
                        Removing bags from streets: $2.6 million/year = 5.2 cents per bag. <br>
                        Processing in landfills: $1.2 million/year = 2.4 cents per bag. <br>
                        <span class="font-weight-bold">Total cost per bag in San Francisco alone: $8.49 million/year = 17 cents per bag.</span>
                    </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="mb-0">Our Mission</h4>
                    </div>
                    <div class="card-body">
                        <p>
                        10% of all plastics end up in the ocean. Our goal is to reduce
                        that one bottle at a time.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">How It Works</h4>
                    </div>
                    <div class="card-body">
                        <p>
                        With TRSHY, you can locate a public trash or recyling bin in a
                        fun and engaging way. Earn XP and achievements as you use or
                        mark public trash bins.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}