{% extends "base.html" %}
{% block content %}
    <div class="d-flex flex-column align-items-center justify-content-center
    max-vh max-vw hero-container hero__main">
        <div class="hero-content">
            <div class="d-flex align-items-center justify-content-center
            hero-title">
                <h1>Trashy</h1>
            </div>
            <div class="d-flex align-items-center justify-content-center
            hero-buttons">
            {% if request.user.is_authenticated%}
                Hey {{ request.user.username }}<br>
                <a href="{% url 'locator:profile' %}">Profile</a>
                <a href="achievements">Achievements</a>
                <a href="map">Map</a>
            {% else %}
                <a class="btn btn-lg btn-primary mr-3" role="button" href="register">
                    Register
                </a>
                <a class="btn btn-lg btn-outline-primary" role="button" href="login">
                Login
                </a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}